mixin picture(imgPath,title,addClass,showModal)
  picture(class=`${addClass ? `${addClass}-picture` : ""}`)
    source(
      srcset!=`${imgPath}`)
    img.img-fullW-center(
      src!=`${imgPath}`, 
      alt!=`${title}`,
      title!=`${title}`,
      draggable="false",
      loading="lazy",
      class!=`${addClass ? `${addClass}-image` : ""} ${showModal ? showModal : ""} `)