mixin select(addID,addClass,title,checkArrow,checkTriangle,options,selectName)
  div(class=`custom-select-wrapper ${addClass}-select-wrapper`)
    div(class=`custom-select ${addClass}-select`)
      select(
        id=`${addID}`,
        class=`custom-select__input ${addClass}-select__input`,
        required='',
        name=`${selectName}`)
        option(label='variant')
      div(class=`custom-select__trigger ${addClass}-select__trigger`)
        span(class=`custom-select__title ${addClass}-select__title`)!=title
        if checkTriangle
          i(class=`custom-select__triangle triangle ${addClass}-select__triangle`)
        if checkArrow
          i(class=`custom-select__arrow arrow ${addClass}-select__arrow`)
      div(class=`custom-select__options ${addClass}-select__options`)
        each option, index in options
          - var count = index+1
          - var itemTitle = option[0]
          if count==1
            span(class=`custom-select__option ${addClass}-select__option selected`,data-value='def')!=title
          else
            span(class=`custom-select__option ${addClass}-select__option`,data-value=`${itemTitle}`)!=itemTitle 
          